.menu-bar__item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  text-align: center;
}

.menu-bar__item a {
  color: rgb(7, 7, 7);
  padding: 0.25rem 0.5rem;
}

.menu-bar__item a:hover {
  color: rgb(9, 9, 121);
  font-weight: 600;
}
