<main class="home__container container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameCoverAlt="Battlefield 1 Game cover art"
    gameLabel="Physical"
    gameType="Disk | PS4"
    [gamePrice]="199.99"
  />

  <app-card
    gameCover="assets/bt-4.jpg"
    gameCoverAlt="Battlefield 4 Game cover art"
    gameType="Digital | PS4"
    [gamePrice]="99.99"
  />

  <app-card
    gameCover="assets/bt-5.jpg"
    gameCoverAlt="Battlefield 5 Game cover art"
    gameLabel="Exclusive"
    gameType="Digital | PS5"
    [gamePrice]="299.99"
  />

  <app-card
    gameCover="assets/ac-cover.jpg"
    gameCoverAlt="Assassin's Creed cover art"
    gameType="Digital | PS3 PS4"
    [gamePrice]="69.99"
  />

  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameCoverAlt="Battlefield Bad Company 2 Game cover art"
    gameLabel="Exclusive"
    gameType="Disk | PS3"
    [gamePrice]="69.99"
  />

  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameCoverAlt="Battlefield Hardline Game cover art"
    gameType="Digital | PS4"
    [gamePrice]="69.99"
  />
</main>
