<header class="menu-bar__container">
  <nav class="menu-bar__nav container">
    <a class="menu-bar__logo" [routerLink]="['/home']"
      ><img src="assets/ps-logo.png" alt="Site Logo"
    /></a>

    <ul class="menu-bar__item">
      <li>
        <a
          href="https://www.linkedin.com/in/jo%C3%A3o-mendes-jorge-barata-ribeiro-645073118/"
          target="_blank"
          rel="noopener noreferrer"
          >LinkedIn</a
        >
      </li>
      <li>
        <a
          href="https://github.barataribeiro.com/"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </li>
      <li>
        <a
          href="https://barataribeiro.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Portfolio</a
        >
      </li>
    </ul>
  </nav>
</header>
